<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="about-veno">
                    <div class="logo">
                        <img src="https://www.freepngimg.com/thumb/beer/46-pint-beer-png-image.png" alt="Venue Logo" style="width: 150px">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="contact-info">
                    <div class="footer-heading">
                        <h4>Contact Information</h4>
                    </div>
                    <ul>
                        <li><span>Phone:</span><a href="#">0895 733 034</a></li>
                        <li><span>Email:</span><a href="#">tonyyvasilev@gmail.com</a></li>
                    </ul>
                </div>
                <div class="about-veno">
                    <ul class="social-icons">
                        <li>
                            <a href="https://www.facebook.com/anton.vasilev.777"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="sub-footer">
    <p>Copyright &copy; 2020 Beer tag application by <a rel="nofollow" href="https://www.facebook.com/anton.vasilev.777">Anton Vasilev</a></p>
</div>