<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-route.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Beers</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/fontAwesome.css">
    <link rel="stylesheet" href="css/hero-slider.css">
    <link rel="stylesheet" href="css/owl-carousel.css">
    <link rel="stylesheet" href="css/datepicker.css">
    <link rel="stylesheet" href="css/templatemo-style.css">

    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body ng-app="indexApp" ng-controller="indexController" ng-init="loadResources()">

<header id="header" style="background-color: #f4f4f4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav id="primary-nav" class="dropdown cf">
                    <a href="index.html">
                        <img class="logo" style="width: 75px"
                             src="https://www.freepngimg.com/thumb/beer/46-pint-beer-png-image.png"
                             alt="Venue Logo">
                    </a>
                    <div class="dropdown menu">
                        <div class="col-" ng-include="'login-register-modal.htm'"
                             style="padding-top: 25px" ng-show="showLoginAndRegister"></div>
                        <div class="col-" ng-show="!showLoginAndRegister"
                             style="padding-top: 25px">
                            <button class="modal-btn" ng-click="getAllBeers()">See all beers</button>
                            <button class="modal-btn" ng-click="loadLoggedUserPage()">Your profile</button>
                            <button class="modal-btn" ng-click="logOut()">Log out</button>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>


<section class="banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-caption">
                    <h2>The beer tag application</h2>
                    <span>Share beer experience with beer lovers all over the world.</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="featured-places">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <span>the top rated six beers</span>
                    <h2>THE TOP 6 BEERS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="beer in topSixBeers" style="padding: 10px">
                <div class="featured-item">
                    <div class="thumb" style="background-color: white; padding: 10px">
                        <img src="data:image/png;base64,{{beer.picture.bytes}}" alt=""
                             style="width: 500px; height: 300px; min-height: 300px">
                        <div class="overlay-content" style="color: blue">
                            <!--Here you can try add the creator's reference-->
                        </div>
                        <div class="date-content">
                            <h6>{{getBeerRating(beer)}}</h6>
                            <span>Rating</span>
                        </div>
                    </div>
                    <div class="down-content">
                        <h4 style="text-align: center">{{beer.name}}</h4>
                        <div class="row" style="color: #2b669a">
                            <div class="col-md-6" style="text-align: center">
                                Style: {{beer.style}}
                            </div>
                            <div class="col-md-6" style="text-align: center">
                                Country: {{beer.country}}
                            </div>
                        </div>
                        <div class="row" style="color: #2b669a">
                            <div class="col-md-6" style="text-align: center">
                                ABV: {{beer.abv}}
                            </div>
                            <div class="col-md-6" style="text-align: center">
                                Rated {{beer.numberOfRatings}} tymes
                            </div>
                        </div>
                        <div class="row" style="text-align: center">
                            <a href="#" style="color: grey">Tags</a>
                        </div>
                        <div class="row" ng-show="showTagAndRateBeer()">
                            <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="#" onclick="openModalForBeerTag()"
                                       ng-click="setBeerNameForTagging(beer.name)">Tag beer...</a>
                                </div>
                            </div>
                            <div class="col-md-6 first-button submit-form">
                                <div class="text-button">
                                    <select id="ratingValue {{beer.name}}" ng-model="ratingValue"
                                            ng-change="rateBeer(beer.name)">
                                        <option value="">Rate beer...</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="tagModal" class="modal">
    <!-- Modal Content -->
    <div class="modal-content">
        <div class="close fa fa-close"></div>
        <div class="row">
            <div class="col-md-8">
                <div class="left-content">
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset>
                                <input type="text" class="form-control"
                                       placeholder="Type tag..." autocomplete="off" ng-model="beerTag">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <button type="submit" class="btn" ng-click="addTag(beerTag)"
                                        ng-mouseleave="hideErrorMessage()">
                                    Tag
                                </button>
                                <span style="color: red" ng-show="showErrorMessage">{{errorMessage}}</span>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section ng-include="'footer.htm'"></section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/datepicker.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
<script src="index.js"></script>
<script src="BeerHandler.js"></script>
<script src="UserHandler.js"></script>
<script src="LocalStorageHandler.js"></script>
<script src="FileHandler.js"></script>

</body>
</html>