<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-route.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single-user</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/fontAwesome.css">
    <link rel="stylesheet" href="css/hero-slider.css">
    <link rel="stylesheet" href="css/owl-carousel.css">
    <link rel="stylesheet" href="css/datepicker.css">
    <link rel="stylesheet" href="css/templatemo-style.css">

    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

</head>
<body ng-app="loggedUserApp" ng-controller="loggedUserController" ng-init="loadResources()">

<header id="header" style="background-color: #f4f4f4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav id="primary-nav" class="dropdown cf">
                    <a href="index.html">
                        <img class="logo" style="width: 75px"
                             src="https://www.freepngimg.com/thumb/beer/46-pint-beer-png-image.png"
                             alt="Venue Logo">
                    </a>
                    <div class="dropdown menu">
                        <div class="col-" style="padding-top: 25px">
                            <button class="modal-btn" id="newBeerButton">Create beer</button>
                            <button class="modal-btn" onclick="openModalForUpdateUser()">Update profile</button>
                            <button class="modal-btn" ng-click="logOut()">Log out</button>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<section class="our-services" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="padding-left: 115px">
                <img src="data:image/png;base64,{{loggedUser.avatar.bytes}}">
            </div>
            <div class="col-md-4" style="padding-left: 305px">
                <span style="color: blue">{{loggedUser.firstName}} {{loggedUser.lastName}}</span>
                <h1>{{loggedUser.username}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="down-services">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <div class="left-content">
                                <h4>Created beers</h4>
                                <p>Here you can see the beers that you have created. You can update or delete those
                                    beers.
                                    You can filter
                                    and sort them.
                                </p>
                                <div class="blue-button">
                                    <a href="" ng-click="getCreatedBeers()">See your created beers</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="left-content">
                                <h4>Rated beers</h4>
                                <p>Here you can see the beers that you have rated. You can set new ratings. You can
                                    filter
                                    and sort them.
                                </p>
                                <div class="blue-button">
                                    <a href="" ng-click="getRatedBeers()">See your rated beers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="newBeerModal" class="modal">
    <!-- Modal Content -->
    <div class="modal-content">
        <div class="close fa fa-close"></div>
        <div class="row">
            <div class="col-md-8">
                <div class="left-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-heading">
                                <span>Create your new beer</span>
                                <h2>New beer</h2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input type="text" class="form-control"
                                       placeholder="Name..." autocomplete="off" ng-model="newBeerName">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input type="text" class="form-control"
                                       placeholder="Brewery..." ng-model="newBeerBrewery">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input type="text" class="form-control"
                                       placeholder="Country..." autocomplete="off" ng-model="newBeerCountry">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input type="number" class="form-control"
                                       placeholder="ABV..." autocomplete="off" ng-model="newBeerABV">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input type="text" class="form-control"
                                       placeholder="Style..." autocomplete="off" ng-model="newBeerStyle">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input type="file" id="newBeerImage">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <button type="submit" class="btn" ng-mouseleave="hideErrorMessage()"
                                        ng-click="createNewBeer(newBeerName, newBeerBrewery, newBeerCountry, newBeerABV, newBeerStyle)">
                                    Create
                                </button>
                                <span style="color: red" ng-show="showErrorMessage">{{errorMessage}}</span>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Register modal-->
<div id="updateUserModal" class="modal">
    <!-- Modal Content -->
    <div class="modal-content">
        <div class="close fa fa-close"></div>
        <div class="row">
            <div class="col-md-8">
                <div class="left-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-heading">
                                <span>Edit your profile</span>
                                <h2>Edit</h2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input type="password" class="form-control"
                                       placeholder="Password..." ng-model="updatePassword">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input type="text" class="form-control"
                                       placeholder="FirstName..." autocomplete="off" ng-model="updateFirstName">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input type="text" class="form-control"
                                       placeholder="LastName..." autocomplete="off" ng-model="updateLastName">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <h4 style="text-align: left">Avatar :</h4>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input type="file" autocomplete="off" id="avatar">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <button type="submit" class="btn" ng-mouseleave="hideErrorMessage()"
                                        ng-click="updateUser(updatePassword, updateFirstName, updateLastName)">
                                    Edit
                                </button>
                                <span style="color: red" ng-show="showErrorMessage">{{errorMessage}}</span>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section ng-include="'footer.htm'"></section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/datepicker.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
<script src="index.js"></script>
<script src="BeerHandler.js"></script>
<script src="UserHandler.js"></script>
<script src="LocalStorageHandler.js"></script>
<script src="FileHandler.js"></script>
<script src="logged-user.js"></script>

</body>
</html>