<button id="loginBtn" class="modal-btn">Login</button>
<button id="registerBtn" class="modal-btn">Register</button>

<!--Login modal-->
<div id="loginModal" class="modal">
    <!-- Modal Content -->
    <div class="modal-content">
        <div class="close fa fa-close"></div>
        <div class="row">
            <div class="col-md-8">
                <div class="left-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-heading">
                                <span>Enter with your personal account</span>
                                <h2>Login</h2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input type="text" class="form-control" autocomplete="off"
                                       placeholder="Username..." ng-model="loginUsername">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input type="password" class="form-control"
                                       placeholder="Password..." ng-model="loginPassord">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <button type="submit" class="btn" ng-click="login(loginUsername, loginPassord)" ng-mouseleave="hideErrorMessage()">Login
                                </button>
                                <span style="color: red" ng-show="showErrorMessage">{{errorMessage}}</span>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Register modal-->
<div id="registerModal" class="modal">
    <!-- Modal Content -->
    <div class="modal-content">
        <div class="close fa fa-close"></div>
        <div class="row">
            <div class="col-md-8">
                <div class="left-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-heading">
                                <span>Register new account</span>
                                <h2>Register</h2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input type="text" class="form-control"
                                       placeholder="Username..." autocomplete="off" ng-model="registerUsername">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input type="password" class="form-control"
                                       placeholder="Password..." ng-model="registerPassword">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input type="text" class="form-control"
                                       placeholder="FirstName..." autocomplete="off" ng-model="registerFirstName">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input type="text" class="form-control"
                                       placeholder="LastName..." autocomplete="off" ng-model="registerLastName">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <h4 style="text-align: right">Avatar :</h4>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input type="file" autocomplete="off" id="avatar">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <button name="submitRegister" type="submit" class="btn" ng-mouseleave="hideErrorMessage()"
                                        ng-click="register(registerUsername, registerPassword, registerFirstName, registerLastName)">
                                    Register
                                </button>
                                <span style="color: red" ng-show="showErrorMessage">{{errorMessage}}</span>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>